/* shared things */
:root {
    --primary-color: #4e47ff;
    --text-dark: #252432;
    --text-dark-light: #25243280;
    --bg-color: #F5F8FF;
    --users-section-bg: #4e47ff1a;
    --secondary-font: "Inter", sans-serif;
}
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--bg-color);
}
.btn-primary {
    font-size: 16px;
    padding: 12px 36px;
    font-weight: bold;
    background-color: var(--primary-color);
    border: none;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}
.btn-primary:hover {
    background-color: #0056b3;
    transform: scale(1.1);
}

/* header style */
header {
    height: 700px;
    background-image: url("../Assets/Hero-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* nav styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 150px;
    padding: 50px 0;
}
.nav-title {
    font-family: var(--secondary-font);
    color: var(--primary-color);
    font-size: 34px;
    font-weight: 800;
}

/* banner styles */
.banner {
    text-align: center;
    width: 905px;
    height: 237px;
    margin: 158px auto 200px;
}
.banner-title {
    font-weight: bold;
    font-size: 65px;
    margin-bottom: 37px;
}

/* action styles */
.action {
    display: flex;
    align-items: center;
    margin: 116px auto 116px;
    justify-content: center;
    gap: 220px;
}
.title {
    font-size: 42px;
    font-weight: bold;
    color: var(--text-dark);
    margin-bottom: 23px;
}
.content {
    font-size: 24px;
    color: var(--text-dark-light);
    margin-bottom: 23px;
    width: 517px;
}
.action-picture {
    border-radius: 48px;
    width: 403px;
    height: 328px;
}

/* productive users styles */
.productive-users {
    background-color: var(--users-section-bg);
    width: 1140px;
    height: 306px;
    margin: 0 auto 137px;
    padding: 50px 80px;
    border-radius: 24px;
}

.users-title {
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
}

.users-container {
    display: flex;
    justify-content: space-around;
}

.container-stat {
    color: var(--primary-color);
    font-family: var(--secondary-font);
    font-size: 80px;
    font-weight: 700;
    text-align: center;
}

.container-sub-title {
    color: var(--text-dark-light);
    font-family: var(--secondary-font);
    font-size: 20px;
    font-weight: normal;
    text-align: center;
}

/* review section styles */
.review {
    width: 1140px;
    height: 342px;
    margin: 0 auto 137px;
}

.review h3 {
    text-align: center;
    margin-bottom: 50px;
}

.review-container {
    display: flex;
    gap: 20px;
}

.card {
    width: 367px;
    height: 243px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 14px;
    border: 1px solid #F2EDED;
    padding: 24px;
}

.stars {
    display: flex;
    gap: 4px;
}
.star {
    background-image: url("../Assets/star-solid.svg");
    width: 22px;
    height: 20px;
    background-size: cover;
    background-repeat: no-repeat;
}

.card-title {
    margin-top: 24px;
    font-family: var(--secondary-font);
}
.card-sub-title {
    margin-top: 8px;
    font-family: var(--secondary-font);
    font-weight: 300;
    width: 75%;;
}

.profile {
    margin-top: 24px;
    display: flex;
    gap: 12px;
    align-items: center ;
}

.profile-content img {
    border-radius: 50%;

}

.profile-content h6, p {
    font-size: 16px;
    font-family: var(--secondary-font);
    color: var(--text-dark-light);
}

.profile-content p {
    color: #25243246;
}

/* footer styles */
footer {
    text-align: center;
    width: 100%;
    height: 428px;
    margin: 0 auto;
    padding: 104px 455px;
    background-color: white;
}
.footer-title {
    font-family: var(--secondary-font);
    font-size: 100px;
    font-weight: 800;
    color: var(--primary-color);
    margin-bottom: 8px;
}

.footer-content {
    color: var(--text-dark-light);
    width: 52%;
    margin: 0 auto 20px;
}

.links-container {
    display: flex;
    gap: 48px;
    justify-content: center;
}

.links-container a {
    text-decoration: none;
    color: var(--text-dark-light);
}
